.modal-header {
    background: #17A2B8;
}

.content {
    width: 100.1%;
}

.myModal-header{
    padding: 0.4rem;
}

.myModal-title {
    margin-left: 0.6rem;;
}

.myModal-footer {
    padding: 0.3rem;
}