<div>
    <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Warehouse Monitoring</h1>
            </div>
          </div>
        </div>
      </section>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb float-sm-right" style="width: 100%;">
                <li class="breadcrumb-item">Monitoring</li>
                <li class="breadcrumb-item">{{curWhName}}
                    <a href='../' class="glyphicon glyphicon-remove" style="color:#c04c6f;">
                    </a>
                </li>
            </ol>
        </div>
    </div>
        <table style="width: 100%;">
            <tbody>
                <tr>
                    <td colspan="3" style="border-left: 0px; border-right: 0px">
                        <div class="monitoring_head_detail">
                            <ul>
                                <span id='map' class="monitoring_head_detail_show-content" style="color: black;"
                                    (click)='showMap()'>Show map</span>
                                <span id='list' class="monitoring_head_detail_show-content" (click)='showList()'>Show
                                    list</span>
                                <span id='diag' class="monitoring_head_detail_show-content" (click)='showDiagram()'>Show
                                    diagram</span>
                            </ul>
                        </div>
                        <div id="isMapExpand" [hidden]="!isMapExpand" style="text-align: center;">
                            <canvas id="getCanvas" style="border: 1px solid black;"></canvas>
                        </div>
                        <div id="isListExpand" [hidden]="!isListExpand">
                            <table class="table table-bordered" style="max-width: 100%;">
                                <tbody *ngFor="let zone of zoneEntityList; let i=index">
                                    <tr>
                                        <td style="padding: 5px; width: 20%; border-right: 0px; vertical-align: middle;">
                                            <a style="padding-left: 20px;" routerLink='../zone-detail'
                                                [queryParams]="{whId:curWhId, zoneId:zone.zoneId, whName:curWhName}">{{zone.zoneId}}</a>
                                        </td>
                                        <td style="padding: 5px; width: 30%; border-right: 0px; border-left: 0px;">
                                            <div class="wh">
                                                <span>Sensors count: {{zone.sensorCnt}}<br></span>
                                                <span>Notifications count: {{zone.notification_cnt}}</span>
                                            </div>
                                        </td>
                                        <td
                                            style="padding: 5px; vertical-align: middle; width: 20%;  border-right: 0px; border-left: 0px;">
                                            <img *ngIf="zone.curTemp"  style="width: 10px; height: 20px;"
                                                src="../assets/img/img_temperature.png">
                                            <span *ngIf="zone.curTemp"> {{zone.curTemp}}°C</span>
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                            <img *ngIf="zone.curHum" style="width: 10px; height: 20px;"
                                                src="../assets/img/img_humidity.png">
                                            <span *ngIf="zone.curHum"> {{zone.curHum}}%</span>
                                        </td>
                                        <td
                                            style="padding: 5px; vertical-align: middle;  width: 20%; border-right: 0px; border-left: 0px;">
                                            {{zone.time}}
                                        </td>
                                        <td style="padding: 5px; vertical-align: middle; width: 10%; border-left: 0px;">
                                            <div class="location-action">
                                                <span id={{zone.zoneId}} class="collapsed-table__show-content"
                                                    (click)='zoneExpand(zone.zoneId)'>Expand</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr [hidden]="!zone.isExpand" class="collapsed-table__inner">
                                        <td colspan="5" style="border-left: 0px; border-right: 0px">
                                            <table class="table" style="width: 100%; text-align: center;">
                                                <thead>
                                                    <tr>
                                                        <th style="border-bottom: 0px; padding:5px; vertical-align: middle;">Name</th>
                                                        <th style="border-bottom: 0px; padding:5px; vertical-align: middle;">Serial number
                                                        </th>
                                                        <th style="border-bottom: 0px; padding:5px; vertical-align: middle;">Settings</th>
                                                        <th style="border-bottom: 0px; padding:5px; vertical-align: middle;">Current reading
                                                        </th>
                                                        <th style="border-bottom: 0px; padding:5px; vertical-align: middle;">Date</th>
                                                        <th style="border-bottom: 0px; padding:5px; vertical-align: middle;">Battery</th>
                                                        <th style="border-bottom: 0px; padding:5px; vertical-align: middle;">Signal quality
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody *ngFor="let sensor of sensorEntityList; let i=index">
                                                    <tr>
                                                        <td>
                                                            <a routerLink='../sensor-detail'
                                                            [queryParams]="{whId:curWhId, zoneId:zone.zoneId, whName:curWhName, sensorId:sensor.sensorId}">{{sensor.sensorName}}</a>
                                                        </td>
                                                        <td>
                                                            {{sensor.sensorId}}
                                                        </td>
                                                        <td>
                                                            <img *ngIf="sensor.settingTemp" style="margin-top: -5px;"
                                                                src="https://my.sensguard.lv/image/icon-temp.svg">
                                                            &nbsp;<span *ngIf="sensor.settingTemp">{{sensor.settingTemp}}</span>
                                                            &nbsp;&nbsp;&nbsp;
                                                            <img *ngIf="sensor.settingHumidity" style="margin-top: -5px;"
                                                                src="https://my.sensguard.lv/image/icon-hum.svg">
                                                            &nbsp;<span *ngIf="sensor.settingHumidity">{{sensor.settingHumidity}}</span>
                                                        </td>
                                                        <td>
                                                            <img *ngIf="sensor.currentTemp" style="margin-top: -5px;"
                                                            src="https://my.sensguard.lv/image/icon-temp.svg">
                                                            <span *ngIf="sensor.currentTemp">{{sensor.currentTemp}} °C</span>
                                                            &nbsp;&nbsp;&nbsp;
                                                            <img *ngIf="sensor.currentHumidity" style="margin-top: -5px;"
                                                                src="https://my.sensguard.lv/image/icon-hum.svg">
                                                            <span *ngIf="sensor.currentHumidity">{{sensor.currentHumidity}} %</span>
                                                        </td>
                                                        <td>
                                                            {{sensor.date}}
                                                        </td>
                                                        <td>
                                                            <div class="battery battery--mini battery--full">
                                                                <span></span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="signal signal--mini signal--full">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="isDiagramExpand" [hidden]="!isDiagramExpand">
                            <div style="border: 1px solid #ddd">
                                <div style="float: right;">
                                    <button id="today" style="margin-top:10px;  margin-right: 10px; margin-left: 10px;"
                                        type="button" class="btn btn-datetimerange" (click)="getHistoryData()">Today</button>
                                    <button style="margin-top:10px; margin-right: 10px;" type="button" class="btn btn-datetimerange"
                                        (click)="getRealTime()">Real Time</button>
                                </div>
                                <div style="margin-top: 50px;">
                                    <div [hidden]="isRealTime" id="canvasTemp" style="width: 1200px; height:400px;"></div>
                                    <div [hidden]="isRealTime" id="canvasHumidity" style="width: 1200px; height:400px;"></div>
                                    <div [hidden]="!isRealTime" id="canvasTempRealTime" style="width: 1200px; height:400px;"></div>
                                    <div [hidden]="!isRealTime" id="canvasHumiRealTime" style="width: 1200px; height:400px;"></div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
            <div style="margin-bottom: 20px">
            </div>  
        </table>
</div>