.location-action {
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .location-action li {
    list-style: none;
  }

  .collapsed-table__show-content {
    cursor: pointer;
    color: #337ab7;
    position: relative;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    padding-right: 10px;
  }

  .collapsed-table__show-content:hover {
    text-decoration: underline;
  }
  .collapsed-table__show-content::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 5px solid #337ab7;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 0;
  }

  #box>a{
    display:none;
    }
    #box>a:first-of-type{
    display:block;
    }
    #box>a:target{
    display:none;
    }
    #box>a:target + a{
    display:block;
    }
    #box:hover {
        text-decoration: underline;
      }

.table-bordered {
    border: 0px;
}


.monitoring_head_detail {
    text-align: right;
}

.address {
  font-style: italic;
  font-size: 13px;
  color: #adadad;
}

a {
  color: #337ab7;
  text-decoration: none;
  background-color: transparent;
}

.wh{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333333;
}

.battery {
  width: 155px;
  height: 70px;
  border: 3px solid #242c41;
  position: relative;
  border-radius: 6px;
  margin: 0 auto 10px;
}
.battery:before {
  content: "";
  display: block;
  width: 15px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 42px;
  background: white;
  z-index: 1;
}
.battery:after {
  content: "";
  display: block;
  width: 15px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 92px;
  background: white;
  z-index: 1;
}
.battery span {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: green;
  border: 7px solid white;
  border-radius: 2px 0 0 2px;
}
.battery--mini {
  width: 50px;
  height: 30px;
  border: 2px solid #242c41;
  margin: 0 auto;
}
.battery--mini span {
  border: 3px solid white !important;
  border-radius: 4px;
}
.battery--mini:before {
  width: 3px;
  height: 26px;
  left: 14px;
}
.battery--mini:after {
  width: 3px;
  height: 26px;
  left: 29px;
}
.battery--middle span {
  background: #f3b139;
}
.battery--low span {
  background: #c04c6f;
  -webkit-animation: pulse 1s infinite;
          animation: pulse 1s infinite;
}
.battery--full span {
  border-radius: 2px;
}


.signal {
  width: 0;
  height: 0;
  border-bottom: 70px solid green;
  border-left: 100px solid transparent;
  margin: 0 auto 10px;
  position: relative;
}
.signal:before {
  content: "";
  display: block;
  width: 10px;
  height: 70px;
  position: absolute;
  top: 0;
  left: -60px;
  background: #f4f6f9;
  z-index: 1;
}
.signal:after {
  content: "";
  display: block;
  width: 10px;
  height: 70px;
  position: absolute;
  top: 0;
  left: -30px;
  background: #f4f6f9;
  z-index: 1;
}
.signal--mini {
  border-bottom: 30px solid green;
  border-left: 50px solid transparent;
  margin: 0 auto;
}
.signal--mini:before {
  width: 5px;
  height: 30px;
  left: -30px;
}
.signal--mini:after {
  width: 5px;
  height: 30px;
  left: -15px;
}
.signal--mini.signal--low:before {
  width: 45px;
}
.signal--middle {
  border-bottom-color: #f3b139;
}
.signal--middle:after {
  width: 30px;
}
.signal--low {
  border-bottom-color: #c04c6f;
}
.signal--low:before {
  width: 60px;
}
.signal--none {
  border-bottom-color: #c04c6f;
  -webkit-animation: pulse 0.5s infinite;
          animation: pulse 0.5s infinite;
}
.signal--none:before {
  width: 85px;
  left: -85px;
}
.signal--none.signal--mini:before {
  width: 50px;
  left: -40px !important;
}

.table tbody + tbody {
  border-top: 0px
}

table > thead > tr > th, table > tbody > tr > td {
  padding: 10px;
  border: 1px dashed #c6c6c6;
}

.collapsed-table__inner {
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top: 1px solid #c04c6f !important;
  border-bottom: 1px solid #c04c6f !important;
  padding: 20px 0 !important;
}

.collapsed-table__inner__list li {
  cursor: pointer;
  list-style: none;
  display: inline;
    font-weight: bold;
    font-size: 16px;
    color: #337ab7;
    margin-left: 15px;
    position: relative;
    padding-right: 10px;
}





.zone_list{
  border: 1px solid #c6c6c6;
}

.panel-body {
  padding: 15px;
  border: 1px solid #ddd;
}

.table {
  margin-bottom: 0px;
}

.btn-datetimerange {
  border: 1px solid #cccccc;
  color: #337ab7 !important;
  background: white;
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.btn-datetimerange:hover {
  background: #eeeeee;
}

.btn-datetimerange:focus {
  border: 5px solid #cccccc;
  background: white;
}
