.card-header {
  background-color: #17A2B8;
}

.content {
  width: 100.1%;
}

.modal-header {
  background-color: #17A2B8;
}

.myModal-footer {
  padding: 0.4rem;
}

.myModal-header{
  padding: 0.6rem;
}

.myModal-title {
  margin-left: 0.6rem;;
}

.modal-dialog {
  top: 200px
}

.modal.fade.in{
  top:90px;  
}

