.modal-header {
    display: flex
}

// .modal-header > span {
//     font: 2em sans-serif;
// }

.modal-header {
    background: #17A2B8;
}

.myModal-footer {
    padding: 0.4rem;
}

.content {
    width: 100.1%;
}

.myModal-header{
    padding: 0.6rem;
}

.myModal-body {
    padding: 1.6rem;
}