<!-- <div class="card-header">
    <h3 class="card-title">Zone Selection</h3>
    <a class="modal-container-close" (click)="bsModalRef.hide()">&times;</a>
</div> -->
<div class="content">
    <div class="modal-header myModal-header">
      <h5 class="modal-title myModal-title">Sensor Information</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true" (click)="bsModalRef.hide()">&times;</span>
      </button>
    </div>
<div class="modal-body myModal-body">
    <select class="form-control selectZone" style="width: 50%">
        <option disabled selected>Select a zone</option>
        <option *ngFor="let zone of zoneProfileList">{{zone.zoneId}}</option>
    </select>
</div>

<div class="modal-footer myModal-footer">
    <button [disabled]="isSubmit" type="button" class="button button--primary" (click)="confirm()">Submit</button>
    <!-- <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="confirm()">Confirm</button> -->
  </div>

<!-- <div class="card-footer">
    <a (click)="submit()" class="btn btn-info" style="color: white;">Submit</a>
  </div> -->
</div>




    
    
    
    
    





