.form-control-modify {
    height: calc(1.75rem + 2px);
}

.form-check-input-modify {
    margin-top: .4rem;
}

.card-header {
    background-color: #17A2B8;
}

.content {
    width: 100.1%;

}
  
.modal-header {
    background-color: #17A2B8;
}
  
.myModal-footer {
    padding: 0.4rem;
}
  
.myModal-header{
    padding: 0.6rem;
}
  
.myModal-title {
    margin-left: 0.6rem;;
}
